/* My Font */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    height: 2000px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}

/* navbar */

 .navbar {
    width: 100%;
    z-index: 2;
    padding-left: 30px;
}

.navbar .nav-item {
    padding-right: 10px;
}

.navbar .nav-item:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #0b63DC;
    color: rgb(231, 231, 231);
    width: 30%;
    margin: auto;
}

/* akhir navbar */


/* carousel */

.carousel-item {
    height: 600px;
    bottom: 70px;
}

/* akhir carousel */

/* artikel */

.container {
    width: 90%;
    margin: 200px auto;
    border-radius: 10px;
}

.container a {
    text-decoration: none;
}

.container hr {
    border-bottom: 1px solid black;
    width: 180px;
    margin-bottom: 50px;
}

.container .row {
    display: flex;
}

.container .row .card {
    height: auto;
    margin: 10px;
    transition-property: transform;
    transition: 0.3s;
}

.container .row .card:hover {
    transform: scale(1.025);
}

.card-title:hover {
    color: rgb(95, 95, 255);
}

.card-text {
    font-size: 14px;
}

.container .row img {
    width: 100%;
    height: 100%;
}

/* akhir artikel */


/* tutorial */



/* Akhir tutorial */


/* footer */
footer {
    color: white;
    background-color: #333;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.bottom-navbar span {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-navbar a {
    text-decoration: none;
    color: white;
}

.bottom-navbar a:hover {
    color: rgb(160, 157, 157);
}
.sosmed a {
    text-decoration: none;
}

.sosmed {
    padding: 40px;
}

.copyright {
    padding: 5px;
    background-color: #222;
}
.copyright span {
    color: rgb(248, 0, 0);
}

/* Akhir footer */



/* Responsive style */

@media (max-width: 992px) {
    .carousel-item {
        height: auto;
        bottom: -60px;
    }
    
    .navbar .nav-item:hover::after {
        border: none;
    }

}

@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    .row .card {
        margin-right: 0;
    }

    
}