/* My Font */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
}

/* navbar */

.navbar {
    width: 100%;
    z-index: 2;
    padding-left: 30px;
}

.navbar .navbar-brand {
    transition: 0.4s;
}

.navbar .navbar-brand:hover {
    transform: scale(1.2);
}

.navbar .nav-item {
    padding-right: 10px;
}

.navbar .form-inline .form-control {
    margin-right: 5px;
    width: 200px;
}

/* akhir navbar */


/* carousel */

.carousel-item {
    height: 600px;
    bottom: 70px;
}

/* akhir carousel */


/* artikel, tutorial */

.container {
    width: 80%;
    margin: 150px auto;
}

.container a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.container a .col-sm-12:hover {
    transform: scale(1.02);
}

.container p {
    font-size: 11px;
}

.container img {
    width: 100%;
    height: 100%;
}

.container hr {
    border-bottom: 1px solid black;
    width: 200px;
    margin-bottom: 50px;
}
.container-iklan {
    margin: 0 auto;
    transition: 0.2s;
}

.container-iklan:active {
    transform: scale(1.05);
}
.container-sidebar {
    margin: 0 auto;
    width: 250px;
}

.container button {
    margin: 10px 40%;
    
}

iframe {
    width: 100%;
    height: auto;
}
/* akhir artikel, tutorial*/

/* contact */
.container-contact {
    width: 80%;
    margin: 120px auto 100px auto;
    border-radius: 10px;
}

.navbar-contact {
    top: 0;
    left: 0;
    right: 0;
} 

.contact a {
    text-decoration: none;
}

.contact .list-group-item {
    font-size: 13px;
}

/* akhir contact */

/* about */

.container-about {
    width: 80%;
    margin: 120px auto 100px auto;
    border-radius: 10px;
}

/* akhir about */

/* footer */
footer {
    color: white;
    background-color: #333;
}

.bottom-navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.bottom-navbar span {
    padding-left: 10px;
    padding-right: 10px;
}

.bottom-navbar a {
    text-decoration: none;
    color: white;
}

.bottom-navbar .bottom-navbar-home {
    color: rgb(160, 157, 157);
}

.bottom-navbar .bottom-navbar-contact {
    color: rgb(160, 157, 157);
}

.bottom-navbar .bottom-navbar-about {
    color: rgb(160, 157, 157);
}

.bottom-navbar a:hover {
    color: rgb(160, 157, 157);
}
.sosmed a {
    text-decoration: none;
}

.sosmed {
    padding: 40px;
}

.sosmed i {
    font-size: 22px;
    transition: 0.3s;
}

.sosmed i:hover {
    transform: scale(1.5);
}

.copyright {
    padding: 5px;
    background-color: #222;
}
.copyright span {
    color: rgb(248, 0, 0);
}

/* Akhir footer */



/* Responsive style */

@media (max-width: 992px) {
    .carousel-item {
        height: auto;
        bottom: -60px;
    }
    
    .navbar .nav-item:hover::after {
        border: none;
    }

    .container-sidebar {
        width: 200px;
        margin-top: 80px;
    }

    .container button {
        margin: 10px 38% 60px;
        
    }

}


@media (max-width: 576px) {
    h1 {
        font-size: 30px;
    }

    .row .card {
        margin-right: 0;
    }

    .container-sidebar {
        width: 300px;
    }

    .container button {
        margin: 10px 32% 50px;
        
    }

    
}